serverless.yml
service: kfc-workflow

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  # Rol automatico
  iam:
    role: arn:aws:iam::${aws:accountId}:role/LabRole
  environment:
    TABLE_NAME: Orders
    EVENT_BUS: orders-bus

functions:
  pagos:
    handler: lambdas/1_pagos.lambda_handler
    name: kfc-workflow-pagos
    description: Procesa pago simulado

  cocina:
    handler: lambdas/2_cocina.lambda_handler
    name: kfc-workflow-cocina
    description: Cocina el pedido

  empaque:
    handler: lambdas/3_empaque.lambda_handler
    name: kfc-workflow-empaque
    description: Empaqueta el pedido

  delivery:
    handler: lambdas/4_delivery.lambda_handler
    name: kfc-workflow-delivery
    description: Asigna motorizado

stepFunctions:
  stateMachines:
    KfcOrderFlow:
      name: KfcOrderWorkflow
      definition:
        Comment: "Workflow KFC: Pagos -> Cocina -> Empaque -> Delivery"
        StartAt: Procesar Pago
        States:
          Procesar Pago:
            Type: Task
            Resource:
              Fn::GetAtt: [pagos, Arn]
            Next: Verificar Pago
            Retry:
              - ErrorEquals: ["States.TaskFailed"]
                IntervalSeconds: 2
                MaxAttempts: 2

          Verificar Pago:
            Type: Choice
            Choices:
              - Variable: "$.status"
                StringEquals: "PAID"
                Next: Cocinar Pedido
            Default: Pago Fallido

          Pago Fallido:
            Type: Fail
            Error: PaymentError
            Cause: "El pago no fue autorizado."

          Cocinar Pedido:
            Type: Task
            Resource:
              Fn::GetAtt: [cocina, Arn]
            Next: Empaquetar Pedido

          Empaquetar Pedido:
            Type: Task
            Resource:
              Fn::GetAtt: [empaque, Arn]
            Next: Asignar Delivery

          Asignar Delivery:
            Type: Task
            Resource:
              Fn::GetAtt: [delivery, Arn]
            End: true
# Nota: La tabla Orders y EventBridge orders-bus se crean en kfc-integraciones
# Este workflow usa los mismos recursos para mantener consistencia

plugins:
  - serverless-step-functions